*{
    margin: 0;
    padding: 0;
}
.body-index{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 200px 600px 150px;
/*grid-template-areas: 
"heder-contenedor heder-contenedor heder-contenedor"
"main-contenedor main-contenedor"
"footer-contenedor footer-contenedor footer-contenedor";*/
}

 /*.heder-contenedor{
    grid-area: heder-contenedor;
    
 }
.main-contenedor{
    grid-area: main-contenedor;
}
.footer-contenedor{
    grid-area: footer-contenedor;
 */
} 